<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/style.css" />
  <title>Practice</title>
</head>
<body>
  <nav>
    <div class="nav__content">
      <a href="/" class="logo">
        <img class="logo__image" src="/img/logo.png" alt="">
        <h1>STORE</h1>
      </a>
      <ul>
        <li><a href="/realtimeproducts">Real Time</a></li>
        <li><a href="/chat">Chat</a></li>
      </ul>
    </div>
  </nav>
  <main class="container">
    {{{body}}}
  </main>
</body>
</html>